<!DOCTYPE html>
{% load news_filters %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This week new posts!</title>
</head>
<body>
    <h2>Здравствуйте! Новые публикации за 7 дней:</h2>
    <hr>
    {% for post in posts_in_week %}
        <p> <strong>Автор - {{ post.postAuthor.authorName.username }}</strong></p>
        <a href="http://127.0.0.1:8000{% url 'post_detail' post.id %}">
            <h3>{{ post.head|censor|truncatewords:12 }}</h3>
        </a>
        <hr>
    {% endfor %}
</body>
</html>